<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding class="bg-teatro">
  <ion-card>
    <img *ngIf="flagPossuiImagem == false" style="margin: 0 auto; display: block;"
    [src]="imageNotFound"/>
    <img *ngIf="flagPossuiImagem == true" style="margin: 0 auto; display: block;"
         [src]="'data:image/jpeg;base64,'+image"/>
    <ion-card-content>
      {{data | date: 'dd/MM/yyyy' }} - {{titulo}}
    </ion-card-content>
    <ion-card-content>
      {{descricao}}
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <div class="logo logo-rodape">
          <img src="assets/imgs/logo.png" />
      </div>
    <ion-title class="title-center title-footer">teatro@unifacisa.edu.br</ion-title>
    <br>
  </ion-toolbar>
</ion-footer>