<ion-header>
  <ion-navbar color="secondary" align-title="center">
      <button menuToggle ion-button>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title class="title-sm center" align-title="center" >
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content class="bg-teatro">
  <div class="logo">
      <img src="assets/imgs/logo.png" />
  </div>

  <h3 style="color: white; text-align: center; font-weight: 300">ÚLTIMOS EVENTOS</h3>

    <ion-list padding>
      <ion-item *ngFor="let item of items" (click)="viewItem(item)">{{item.data | date: 'dd/MM/yyyy' }} - {{item.titulo}}</ion-item>
      <ion-item *ngFor="let item of items" (click)="viewItem(item)">{{item.data | date: 'dd/MM/yyyy' }} - {{item.titulo}}</ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-title class="title-center title-footer">teatro@unifacisa.edu.br</ion-title>
    </ion-toolbar>
  </ion-footer>