page-home {

}

.homeEventosCss {
    text-align: center;
}
.bg-teatro {
    background: url("../assets/imgs/bg.png") no-repeat 47% 12%;
}

.toolbar-md-secondary .toolbar-background-md, .toolbar-background-md {
    background-color: rgba(107,34,53,0.9) !important;
}

.footer .toolbar .toolbar-background-md {
    background: none !important;
    color: white !important;
}

.toolbar-title-md {
    color: white !important;
}

.title-footer div {
    font-size: 15px !important;
    font-weight: 300 !important;
    font-size: 10px;
}

// .toolbar-title-md {
//     color: rgba(107,34,53, 1) !important
// }
.logo {
    width: 100%;
}
.logo img {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-rodape {
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: -10px;
}
    

ion-item {
    background-color: rgba(255, 255, 255, 0.85) !important;
}

.menu-inner .content-md {
    background-color: rgba(107,34,53,1) !important;
}

.button-md-secondary {
    background-color: rgba(107,34,53,1) !important;
}

.title-center {
    text-align: center;
}