page-participar {

}

.bt-participar {
    width: 90% !important;
    height: 50px !important;
    margin: 0 auto;
    display: block;
}

.bt-participar {
    border-color: rgba(247, 247, 247, 0.9) !important;
    color: rgba(255, 255, 255, 0.9) !important;
}

.responder {
    color: white !important;
    background-color: rgba(107,34,53,0.9) !important;
}

.bg-teatro .item {
    background-color: none !important;
}

.bg-teatro .item-inner {
    border: 0 !important;
}